
$primary: #288A82;
$accent: #8D1DCA;

* {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

body {
  min-height: 100vh;
  background-color: white;
}

tr {
  color: none;
  border: none;
}

img {
  max-height: 200px;
  max-width: 200px;
  box-shadow: 10px 10px 5px #888888;
}

div[contenteditable="true"]{
  text-align: left;
  display: inline-block;
  &:hover {
    cursor: pointer;
    &:hover:after{
      content: "Click To Edit";
      font-size: 1.5rem;
      color: white;
      top: 15px;
      bottom: 0;
      margin: auto;
      margin-left: 25px;
      height: .7rem;
      right: 0;
    }
  }
  &:focus {
    outline: none;
  }
}

img#photo {
  max-height: 400px;
  max-width: 500px;
}
textarea {
  background-color: rgba(19,1,1,.26);
  color: black;
  width:160px;
  height:35px;
  position:absolute;
  border: 2px solid #333;
  box-shadow: 0px 0px 15px #000;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  &:focus {
    text-align: left;
    background-color: rgba(19,1,1,.26);
    font-size: 15px;
    color: white;
    top:115px;
    height:150px;
    width:70%;
    border-radius:5px;
    border: 2px solid #d4d0ba;
    box-shadow: 0px 0px 15px #FFFFFF;
    outline: none;
  }
  &.touched{
    text-align: left;
    background-color: rgba(19,1,1,.26);
    font-size: 15px;
    color: white;
    top:115px;
    height:150px;
    width:70%;
    border-radius:5px;
    border: 2px solid #d4d0ba;
    box-shadow: 0px 0px 15px #FFFFFF;
    outline: none;
  }
}

button {
  margin-top: 15px;
  border-radius: 5px;
  color: #fff;
  background-color: #FFB218;
  text-shadow: -1px 1px #FFC44E;
  border: none;
  transition: background-color 2s ease;
  &:hover {
    background-color: #B17600 ;
    text-shadow: -1px 1px #FFC44E;
  }
  &:active {
    background-color: #B17600;
    text-shadow: -1px 1px #FFC44E;
  }
  &:focus {
    outline: none;
  }
}

#question {
  font-size: 4rem;
  color: $accent;
}

#addDest {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.munnies-col, .image-col{
  display: inline-block;
}
.munnies-col {
  width: 40%;
  text-align: left;
  font-size: 2rem;
  position: relative;
}
.image-col {
  width: 60%;
}

#headCont {
  background-color: #288A82;
  height: 200px;
  margin-bottom: 100px;
}

.table {
  width: 60%;
  margin: 0 auto;
  background-color: #FBFBFB;
  box-shadow: 10px 10px 5px #888888;
  margin: 0 auto;
  border: 2px solid $primary;
} 

#textCont {
  padding-top: 30px;
  width: 500px;
  float: left;
  padding-left: 20px;
}

#header {
  font-size: 9rem;
  color: white;
}

#directions {
  font-size: 1.5rem;
  color: white;
}


.table-bordered>tbody>tr>td {
 border: 0px solid #ddd;
}

.table-bordered>tbody>tr:hover {
  background-color: rgba(204, 204, 204, 0.33);
}

#tableName {
  width: 40px;
  vertical-align: middle;
}
#tablePrice, #seeMore {
  vertical-align: middle;
}

#delete {
  border-radius: 5px;
  color: #fff;
  background-color: #B17600;
  text-shadow: -1px 1px #FFC44E;
  border: none;
  transition: background-color 2s ease;
  &:hover {
    background-color: #FFB218 ;
    text-shadow: -1px 1px #FFC44E;
  }
  &:active {
    background-color:  #FFB218;
    text-shadow: -1px 1px #FFC44E;
  }
  &:focus {
    outline: none;
  }
}

#detailView {
  background-color: #FBFBFB;
  color:  #288A82;
  width: 1000px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 10px 10px 5px #888888;
  margin-bottom: 50px;
  border: 2px solid $accent;
}

#container2 {
 width: 100%;
 text-align: left;
 position: relative;
}

#countryName, #cityName {
  text-align: left;
  display: inline-block;
  &:hover {
    cursor: pointer;
    &:hover:after{
      content: "Click to Edit";
      font-size: 1.5rem;
      color: white;
      margin-bottom: 25px;
      height: .7rem;
      right: 0;
    }
  }
  &:focus {
    outline: none;
  }
}

.location{
  font-size: 4.5rem;
}

#saved, #needed, #price {
  width: 200px;
}

#image{
  width: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: hidden;
}

.input-top{
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 150px;
  width: calc(100% - 2em);
  vertical-align: top;
}

.input-field-top {
 z-index: 10;
 width: 100%;
 background: transparent;
 color: #f5f5f5;
 opacity: 0;
 -webkit-transition: opacity 0.3s;
 transition: opacity 0.3s;
 position: relative;
 display: block;
 padding: 0.8em;
 border: none;
 border-radius: 0;
 color: black;
 font-weight: bold;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 -webkit-appearance: none;
 &:focus {
  outline: none;
}
}


.input-label-top {
  display: inline-block;
  float: right;
  padding: 0 1em;
  font-weight: bold;
  font-size: 70.25%;
  user-select: none;
  position: relative;
  width: 100%;
  color: $accent;
  text-align: left;
  &::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 4em;
    background: $accent;
    transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
    transform-origin: 50% 100%;
    transition: transform 0.3s;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.25em;
    background: $accent;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
  }
}

.input__label-content {
  position: relative;
  display: block;
  width: 100%;
  padding: 0.75em 0;
}

.input-field-top:focus,
.input--filled .input-field-top {
  opacity: 1;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.input-field-top:focus + .input-label-top::before,
.input--filled .input-label-top::before {
  -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
  transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
}

.input-field-top:focus + .input-label-top::after,
.input--filled .input-label-top::after {
  -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
  transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
}

.ng-touched {

 opacity: 1;
 -webkit-transition-delay: 0.3s;
 transition-delay: 0.3s;
}